body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

.wrapper {
  height: 300vh;
}

.intro, .outro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shatter-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-image: url("https://picsum.photos/400");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.piece {
  width: 5%;
  height: 5%;
  background-image: inherit;
  background-size: 400px 400px;
}
